
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.alert-box{
  height: 60px;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.introText{
  font-family: 'Droid Arabic Kufi', serif;
  color:#84ae7c;
   padding:5px;
}
.border-services {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.LogInbody {
  height: 100%;
}

.select{
  background-color: #f1f1f1;

  transition-property:background-color;
  transition-duration: 0.11s;
  transition-delay: 0.1s;
}
.hidebtn {
visibility: hidden;
transition-property:visibility;
transition-duration: 0.11s;
transition-delay: 0.1s;
}
.ChatBox{
  height: 400px;
  background-color: #e2e1e1;
}

.CatBox
{
  max-height: 400px;
}
.mend{
  margin-right: auto;
}
.goleft{
  margin-right: 50%;
}
.message{
  width: fit-content;
  background-color: #ffffff;
}


.select:hover {
  background-color: rgb(158, 181, 255);
}

.select:hover .hidebtn{
  visibility: inherit;
}

.selected{
  background-color: rgb(158, 181, 255);
}

.accordion-green{
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
}

.green-btn{

}

.accordion-blue{
  color: #0c63e4 !important;
  background-color: #e7f1ff !important;
}

.accordion-yallow{
  color: #664d03 !important;
  background-color: #fff3cd !important;
  border-color: #ffecb5 

}

#iwrapper{
  position: relative;

}

.icontent{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
}

.ibackground{
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
}


.bd-aside .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform: rotate(180deg) translateX(-2px);
  transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.hoverEffect{

}
.hoverEffect li:hover
{
background-color: #e4e1e1;
}

.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}